@model IEnumerable<CodeFirst.Models.Tratamiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.T_Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T_Procedimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T_Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T_Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.T_Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T_Procedimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T_Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T_Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDTratamiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDTratamiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDTratamiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
