@model CodeFirst.Models.Odontologo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Odontologo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OD_Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OD_Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OD_Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OD_Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OD_Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OD_Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OD_Turno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OD_Turno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OD_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OD_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OD_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OD_Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDOdontologo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
